*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
#timagem{
    width: 400px;
    height: 300px;
    background-image: url(fundo.jpg);
}
body{
    background-color: #082767;
    background-image: url(fundo.jpg);
}

main{
    background-color: blue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}